<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEf9AjVub2qiR6XFOFdO1aApkpxWU5huM</string>
	<key>GCM_SENDER_ID</key>
	<string>205101035149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.piotrantkiewicz.JohHunt</string>
	<key>PROJECT_ID</key>
	<string>jobhunt-f140a</string>
	<key>STORAGE_BUCKET</key>
	<string>jobhunt-f140a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205101035149:ios:be6af7f98138467c3bfcc4</string>
	<key>DATABASE_URL</key>
	<string>https://jobhunt-f140a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>